.html {
    font-size: 62.5%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    width: 65rem;
    background-color: rgb(202, 11, 11);
    padding-top: 5rem;
    border-radius: 5rem;
}

.screen {
    display: grid;
    height: 30rem;
    width: 50rem;
    margin-bottom: 2rem;
}

.grid-item {
    border: 1px red solid;
    background-color: gray;
    width: auto;
}

.grid-item:nth-last-child() {
    background-color: black;
}

#slider {
    -webkit-appearance: none;
    width: 20rem;
    height: 2rem;
    background-color: rgb(94, 255, 0);
    border-radius: 2rem;

}

#slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: red;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
}

#rainbow-container {
    display: flex;
    background-color: gray;
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid rgb(145, 145, 145)
}

#rainbow-toggle {
    width: 50%;
    height: 100%;
    background: whitesmoke;
    border-radius: 2rem;
}

.knob {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: whitesmoke;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}